body {
    background-color: black; 
}

.personal {
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  margin: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus{
  outline: none;
}

#restart {
  display: none;
  font-size: 20px;
  border: 1px solid black;
  margin-top: 10px;
  padding: 7px;
}